body {
    font-family: sans-serif;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    border: 2px solid #000000;
}

.special_link {
background-color: #FFB800;
width: 48px;
height: 14px;
left: 26px;
top: 139px;
border: 2px solid #FFB800;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 12px;
line-height: 14px;
color: #000000;
}



font {
    background-color;
    padding: 1px;
}
footer{
    background-color:#000000;
padding: 1px;
}
footer p {
    font-size: 20px;
    background-color: #ffff;
}
header{
    background-color: #A64141;
}

main{
    text-align:center;
}
    
